svg {
  background-color: rgb(130, 179, 213);
}

h1 {
  font-family: "Moonflower";
  font-size: 25px;
  cursor: pointer;
}

/* HOUSE */

#house {
  position: absolute;
  top: 10vw;
}

#house_main {
  stroke: none;
  stroke-width: 2;
  fill: rgb(223, 196, 109);
}

#house_roof {
  stroke: none;
  stroke-width: 2;
  fill: rgb(181, 41, 41);
}

#house_door {
  stroke: none;
  stroke-width: 2;
  fill: rgb(55, 55, 55);
}

#house_window_left {
  stroke: black;
  stroke-width: 0.8;
  fill: white;
}

#house_window_right {
  stroke: black;
  stroke-width: 0.8;
  fill: white;
}

/* CAR */
#car {
  animation: drive 5s linear infinite;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
#car_body {
  stroke: none;
  stroke-width: 0.8;
  fill: rgb(213, 139, 220);
}

#car_top {
  stroke: none;
  stroke-width: 0.8;
  fill: rgb(213, 139, 220);
}

#wheel1 {
  stroke: black;
  stroke-width: 0.8;
  fill: black;
  animation: rotate 5s linear infinite;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

#wheel2 {
  stroke: black;
  stroke-width: 0.8;
  fill: black;
  animation: rotate 5s linear infinite;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

#wheel3 {
  stroke: none;
  stroke-width: 0.8;
  fill: rgb(138, 136, 136);
}

#wheel4 {
  stroke: none;
  stroke-width: 0.8;
  stroke-width: 0.8;
  fill: rgb(138, 136, 136);
}

#car_light {
  stroke: none;
  stroke-width: 0.8;
  stroke-width: 0.8;
  fill: rgb(255, 225, 0);
}

#car_window {
  stroke: none;
  stroke-width: 0.8;
  stroke-width: 0.8;
  fill: rgb(142, 163, 181);
}

/* FLOWER */
#flower_head circle {
  fill: tomato;
}
#flower_head ellipse {
  fill: rgb(135, 240, 252);
}
#flower path {
  stroke: rgb(51, 195, 51);
  fill: none;
  stroke-width: 6px;
}
#flower_head {
  animation: rotate 5s linear infinite;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

/* ANIMATIONS */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes drive {
  from {
    transform: translateX(-70vw);
  }
  to {
    transform: translateX(50vw);
  }
}
