#house_main {
  stroke: none;
  stroke-width: 2;
  fill: rgb(223, 196, 109);
}

#house_roof {
  stroke: none;
  stroke-width: 2;
  fill: rgb(181, 41, 41);
}

#house_door {
  stroke: none;
  stroke-width: 2;
  fill: rgb(55, 55, 55);
}

#house_window_left {
  stroke: black;
  stroke-width: 0.8;
  fill: white;
}

#house_window_right {
  stroke: black;
  stroke-width: 0.8;
  fill: white;
}
